@model PresupuestoViewModel

<h2>Detalles de Presupuesto</h2>
<p><strong>Monto:</strong> @Model.Monto</p>
<p><strong>Mes:</strong> @Model.Mes</p>
<p><strong>Anio:</strong> @Model.Anio</p>
<p><strong>UsuarioId:</strong> @Model.UsuarioId</p>
<a asp-action="Index" class="btn btn-secondary">Volver</a>
